.navBar {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}
.links {
  background-color: #ffffff;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.1));
  width: 60%;
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
}

.link-item:nth-child(2) {
  color: #ad343e;
}
.link-item {
  margin-left: 8px;
  text-decoration: none;
  color: #474747;
}
.link-item:hover {
  filter: drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.2));
  transition: ease 0.4s;
}
.links .spn {
  display: none;
}
.links .active {
  transform: scale(1.25);
}

@media (min-width: 550px) {
  .links .spn {
    display: flex;
  }
}
